demo.json
[{"id":"4b216b6b.d8a3a4","type":"tab","label":"Voz"},{"id":"732c07b2.882f78","type":"tab","label":"Camara"},{"id":"8bb403a4.70b77","type":"tab","label":"Pagina Classif"},{"id":"2ec4b9a9.555846","type":"tab","label":"Modelo Custom"},{"id":"cbf4677a.2d39d8","type":"tab","label":"Test CustomMod"},{"id":"1debaa47.db4836","type":"tab","label":"Interaccion Watson IoT"},{"id":"ecb829f3.837b08","type":"ui_group","z":"","name":"Main","tab":"8c614c27.f3aa8","disp":true,"width":"6"},{"id":"8c614c27.f3aa8","type":"ui_tab","z":"","name":"Dev","icon":"dashboard","order":2},{"id":"a2805296.00246","type":"wiotp-credentials","z":"","name":"CredNode1","org":"a590f0","serverName":"","devType":"Raspbi","devId":"Node1","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"620f234e.96bb6c","type":"wiotp-credentials","z":"","name":"CredNode1","org":"a590f0","serverName":"","devType":"Raspbi","devId":"Node1","keepalive":"60","cleansession":true},{"id":"3e7bb6a5.89a7aa","type":"ui_base","theme":"theme-dark"},{"id":"1c497483.1ccebb","type":"dropbox-config","z":""},{"id":"fea5454a.13f708","type":"ui_group","z":"","name":"Main","tab":"","disp":true,"width":"6"},{"id":"1b84ac5e.266e44","type":"cloudant","z":"","host":"cc62996c-2d5b-48d6-a58c-6deec624770c-bluemix.cloudant.com","name":"Base De datos"},{"id":"8f62c1fa.3aa28","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"1a7983f4.0811fc","type":"ui_tab","z":"","name":"Cam","icon":"dashboard","order":1},{"id":"cb0286d3.435e98","type":"ui_group","z":"","name":"Cam","tab":"1a7983f4.0811fc","disp":true,"width":"6"},{"id":"edbe1521.9dfc38","type":"Mic","z":"4b216b6b.d8a3a4","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"hw:1,0","rate":"16000","silenceTimeout":0,"exitOnSilence":"true","debug":"true","active":true,"x":98,"y":73,"wires":[["3a3cb114.5ae58e"]]},{"id":"3a3cb114.5ae58e","type":"function","z":"4b216b6b.d8a3a4","name":"collect buffer","func":"if (msg.event == 'end'){\n    msg.payload = this.context.get('buffer');\n    this.context.set('buffer',0);\n    return msg;}\nelse{\n    var buf = this.context.get('buffer')||0;\n    if ( buf !== 0 )\n        buf = Buffer.concat([buf,msg.payload]);\n    else\n        if (msg.payload.length==44)\n            buf = msg.payload;\n    this.context.set('buffer',buf);\n}","outputs":1,"noerr":0,"x":271,"y":69,"wires":[["96daa795.1f8778"]]},{"id":"1d6f7de6.ab5022","type":"debug","z":"4b216b6b.d8a3a4","name":"","active":true,"console":"false","complete":"transcription","x":721,"y":68,"wires":[]},{"id":"96daa795.1f8778","type":"watson-speech-to-text","z":"4b216b6b.d8a3a4","name":"Speech2Text","continuous":true,"speakerlabels":false,"lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"BvXNwzVlbRba","x":481,"y":70,"wires":[["1d6f7de6.ab5022","4fffa72.5e2ea58"]]},{"id":"4fffa72.5e2ea58","type":"function","z":"4b216b6b.d8a3a4","name":"process","func":"var input = msg.transcription;\n\n//check action\nif (input.search(\"prender\") != -1)\n    msg.payload = 1;\nelse if (input.search(\"apagar\") != -1)\n    msg.payload = 0;\nelse\n     return null;\n     \n//check which led\nvar str = input.split(\" \");\nif (str[str.length-2] == \"uno\")\n    msg.led = 1;\nelse if (str[str.length-2] == \"dos\")\n    msg.led = 2;\nelse\n    return null;\nreturn msg;","outputs":"1","noerr":0,"x":360,"y":225,"wires":[["5bdf82c4.a46aec"]]},{"id":"2c6e5c30.b7a274","type":"rpi-gpio out","z":"4b216b6b.d8a3a4","name":"LED 1","pin":"11","set":"","level":"0","out":"out","x":692,"y":196,"wires":[]},{"id":"7a60fdf.05fd704","type":"rpi-gpio out","z":"4b216b6b.d8a3a4","name":"LED 2","pin":"13","set":"","level":"0","out":"out","x":685,"y":250,"wires":[]},{"id":"5bdf82c4.a46aec","type":"switch","z":"4b216b6b.d8a3a4","name":"","property":"led","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":526,"y":224,"wires":[["2c6e5c30.b7a274"],["7a60fdf.05fd704"]]},{"id":"1b510e24.fc8372","type":"visual-recognition-util-v3","z":"2ec4b9a9.555846","name":"HuskyClassifier","apikey":"__PWRD__","image-feature":"createClassifier","x":337,"y":119,"wires":[["1e514f86.0c22"]]},{"id":"8c2c3283.38e8a","type":"inject","z":"2ec4b9a9.555846","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":87,"y":59,"wires":[["5ccf4418.f3a86c"]]},{"id":"ff47029f.c46bc","type":"debug","z":"2ec4b9a9.555846","name":"","active":true,"console":"false","complete":"result","x":690,"y":116,"wires":[]},{"id":"5ccf4418.f3a86c","type":"file in","z":"2ec4b9a9.555846","name":"Train data.zip","filename":"./husky.zip","format":"","x":253,"y":57,"wires":[["30b89af4.3be956"]]},{"id":"ded0d1a.37f1b3","type":"change","z":"2ec4b9a9.555846","name":"set negatives","rules":[{"t":"set","p":"params.negative_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":135,"y":114,"wires":[["1b510e24.fc8372"]]},{"id":"30b89af4.3be956","type":"function","z":"2ec4b9a9.555846","name":"set properties","func":"msg.params = {'name': 'husky',\n'husky_positive_examples': msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":465.5,"y":57.75,"wires":[["65d7b667.3229c8"]]},{"id":"65d7b667.3229c8","type":"file in","z":"2ec4b9a9.555846","name":"Neg_data","filename":"./cats.zip","format":"","x":629.5,"y":58.75,"wires":[["ded0d1a.37f1b3"]]},{"id":"1e514f86.0c22","type":"function","z":"2ec4b9a9.555846","name":"register ID","func":"this.context.global.set('classifier_id',msg.result.classifier_id);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":117,"wires":[["ff47029f.c46bc"]]},{"id":"bcc9a1ed.dc5df","type":"comment","z":"2ec4b9a9.555846","name":"Train classifier","info":"","x":91,"y":22,"wires":[]},{"id":"c179cab7.37f3d8","type":"visual-recognition-util-v3","z":"2ec4b9a9.555846","name":"delete all classifiers","apikey":"__PWRD__","image-feature":"deleteAllClassifiers","x":322,"y":212,"wires":[["21ce383c.9971f8"]]},{"id":"441fa04.d63ad6","type":"inject","z":"2ec4b9a9.555846","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135,"y":215,"wires":[["c179cab7.37f3d8"]]},{"id":"21ce383c.9971f8","type":"debug","z":"2ec4b9a9.555846","name":"","active":true,"console":"false","complete":"result","x":534,"y":217,"wires":[]},{"id":"36f40b3c.ff71a4","type":"comment","z":"2ec4b9a9.555846","name":"Delete Classifiers","info":"Solamente puede haber un classificador custom por cuenta gratis","x":133,"y":175,"wires":[]},{"id":"e5bba591.bc0108","type":"wiotp in","z":"1debaa47.db4836","authType":"d","deviceKey":"a2805296.00246","deviceType":"","deviceId":"","command":"led","commandType":"g","qos":"1","name":"In Msg","x":133,"y":107,"wires":[["79152d1.1fbe0d4","67729730.232548"]]},{"id":"79152d1.1fbe0d4","type":"debug","z":"1debaa47.db4836","name":"","active":true,"console":"false","complete":"payload","x":414,"y":87,"wires":[]},{"id":"568a21b6.c82c3","type":"function","z":"1debaa47.db4836","name":"Data to send","func":"// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:msg.payload\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":293,"wires":[["a3e0f332.c64d6"]]},{"id":"a3e0f332.c64d6","type":"wiotp out","z":"1debaa47.db4836","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"a2805296.00246","deviceType":"","deviceId":"","event":"image","format":"json","qos":"","name":"","x":956,"y":293,"wires":[]},{"id":"dc70959a.230d48","type":"http in","z":"8bb403a4.70b77","name":"","url":"/reco","method":"get","swaggerDoc":"","x":65,"y":144,"wires":[["680c37d4.43daa8"]]},{"id":"5aa3ae4d.b8c7","type":"http response","z":"8bb403a4.70b77","name":"HTTP Response","x":733,"y":209,"wires":[]},{"id":"680c37d4.43daa8","type":"switch","z":"8bb403a4.70b77","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":157,"y":217,"wires":[["58ddc677.a7e958"],["e13398f9.5b1908"]]},{"id":"d021fe84.7cdd3","type":"template","z":"8bb403a4.70b77","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition Node-RED Demo</title></head>\n<body>\n<h1>Bienvenido a demo de reconocimiento visual de Watson con Node-RED</h1>\n<h2>Click derecho en alguna imagen y copie la dirección URL</h2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"http://www.anipedia.net/imagenes/caracteristicas-generales-de-los-lobos.jpg\" height='100'/>\n    <img src=\"http://www.huskyrescue.org.za/wp-content/uploads/2016/11/Cammie-3-Husky-Rescue-SA.jpg\" height='100'/>\n    <img src=\"https://si.wsj.net/public/resources/images/BN-MS389_dog_pr_P_20160222135229.jpg\" height='100'/>\n    <img src=\"http://sysrun.haifa.il.ibm.com/ibm/history/exhibits/chairmen/images/watsonsr.jpg\" height='100'/>\n    {{#images}}\n    <img src={{url}} height=\"100\"/>\n    {{/images}}\n    <br/>Copie el URL de la imagen o ingrese cualquier URL de una imagen:<br/>\n    <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analizar\"/>\n</form>\n</body>\n</html>","x":571,"y":116,"wires":[["5aa3ae4d.b8c7"]]},{"id":"2de1276f.0b6a88","type":"template","z":"8bb403a4.70b77","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition Node-RED Demo</title></head>\n<body>\n<h1>Resultado de Watson</h1>\n<p>Imagen analizada: {{payload}}<br/><img src=\"{{payload}}\" height='100'/></p>\n<table border='1'>\n    <thead><tr><th>Nombre</th><th>Score</th></tr></thead>\n{{#result.images.0.classifiers.0.classes}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/result.images.0.classifiers.0.classes}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Volver a intentar\"/>\n</form>\n</body>\n</html>","x":574,"y":251,"wires":[["5aa3ae4d.b8c7"]]},{"id":"e13398f9.5b1908","type":"change","z":"8bb403a4.70b77","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":185,"y":300,"wires":[["837acc2a.0c86e"]]},{"id":"9a1b548.52a52a8","type":"debug","z":"8bb403a4.70b77","name":"","active":true,"console":"false","complete":"payload","x":760,"y":308,"wires":[]},{"id":"58ddc677.a7e958","type":"function","z":"8bb403a4.70b77","name":"read images","func":"var basedir = \"https://raw.githubusercontent.com/charlielito/demoIoT/master/img/\";\nvar N = 6; //how many images in repository\nvar images = [];\nfor (i = 1; i <= N; i++) { \n    images.push(\n        {\n        \"url\": basedir.concat(i.toString().concat(\".jpg\"))\n        }\n    );\n}\nmsg.images = images;\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":114,"wires":[["d021fe84.7cdd3"]]},{"id":"e6a49f7b.b157","type":"function","z":"8bb403a4.70b77","name":"get labels","func":"var labels = msg.result.images[0].classifiers[0].classes;\nmsg.payload = labels.map(function(i){\n   return i.class;\n});\nreturn msg;","outputs":1,"noerr":0,"x":596,"y":308,"wires":[["9a1b548.52a52a8"]]},{"id":"837acc2a.0c86e","type":"visual-recognition-v3","z":"8bb403a4.70b77","name":"","apikey":"b1a13ab31d06ab2207aeb51e793f0f26d80a222c","image-feature":"classifyImage","lang":"en","x":403,"y":303,"wires":[["2de1276f.0b6a88","e6a49f7b.b157"]]},{"id":"c160d8db.82fba8","type":"http in","z":"cbf4677a.2d39d8","name":"","url":"/reco_custom","method":"get","swaggerDoc":"","x":95,"y":90,"wires":[["3f9b67d7.c75718"]]},{"id":"f103f88f.2c8d38","type":"http response","z":"cbf4677a.2d39d8","name":"HTTP Response","x":787,"y":230,"wires":[]},{"id":"3f9b67d7.c75718","type":"switch","z":"cbf4677a.2d39d8","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":235,"y":129,"wires":[["6ab74e2c.1b24e"],["54984737.a6a758"]]},{"id":"6ab0a6bf.491db8","type":"template","z":"cbf4677a.2d39d8","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition Node-RED Demo</title></head>\n<body>\n<h1>Bienvenido a demo de reconocimiento visual de Watson con Node-RED</h1>\n<h2>Click derecho en alguna imagen y copie la dirección URL</h2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"http://www.anipedia.net/imagenes/caracteristicas-generales-de-los-lobos.jpg\" height='100'/>\n    <img src=\"https://si.wsj.net/public/resources/images/BN-MS389_dog_pr_P_20160222135229.jpg\" height='100'/>\n    <img src=\"http://www.huskyrescue.org.za/wp-content/uploads/2016/11/Cammie-3-Husky-Rescue-SA.jpg\" height='100'/>\n    <img src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Rottweiler_kopf_2.jpg/366px-Rottweiler_kopf_2.jpg\" height='100'/>\n    <img src=\"https://s-media-cache-ak0.pinimg.com/736x/cd/a5/1b/cda51b70758b5302de57225b7c52a202.jpg\" height='100'/>\n    {{#images}}\n    <img src={{url}} height=\"100\"/>\n    {{/images}}\n    <br/>Copie el URL de la imagen o ingrese cualquier URL de una imagen:<br/>\n    <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analizar\"/>\n</form>\n</body>\n</html>","x":553,"y":196,"wires":[["f103f88f.2c8d38"]]},{"id":"f57aecaa.85d5b","type":"template","z":"cbf4677a.2d39d8","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition Node-RED Demo</title></head>\n<body>\n<h1>Resultado de Watson</h1>\n<p>Imagen analizada: {{payload}}<br/><img src=\"{{payload}}\" height='100'/></p>\n<table border='1'>\n    <thead><tr><th>Nombre</th><th>Score</th></tr></thead>\n{{#result.images.0.classifiers.0.classes}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/result.images.0.classifiers.0.classes}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Volver a intentar\"/>\n</form>\n</body>\n</html>","x":525,"y":252,"wires":[["f103f88f.2c8d38"]]},{"id":"54984737.a6a758","type":"change","z":"cbf4677a.2d39d8","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":141,"y":228,"wires":[["2191754.0d90a8a"]]},{"id":"6ab74e2c.1b24e","type":"function","z":"cbf4677a.2d39d8","name":"read images","func":"var basedir = \"https://raw.githubusercontent.com/charlielito/nodered_watson/master/img/\";\nvar N = 6; //how many images in repository\nvar images = [];\nfor (i = 1; i <= N; i++) { \n    images.push(\n        {\n        \"url\": basedir.concat(i.toString().concat(\".jpg\"))\n        }\n    );\n}\nmsg.images = images;\nreturn msg;","outputs":1,"noerr":0,"x":465,"y":105,"wires":[["6ab0a6bf.491db8"]]},{"id":"96df10f8.9206a","type":"visual-recognition-v3","z":"cbf4677a.2d39d8","name":"","apikey":"__PWRD__","image-feature":"classifyImage","lang":"en","x":374,"y":320,"wires":[["f57aecaa.85d5b","57640dfb.efef94"]]},{"id":"2191754.0d90a8a","type":"function","z":"cbf4677a.2d39d8","name":"set classifier_ids","func":"msg.params={};\nmsg.params[\"classifier_ids\"]=this.context.global.get('classifier_id')||0;\n//msg.params[\"threshold\"]=\"0.3\";\nreturn msg;","outputs":1,"noerr":0,"x":161,"y":318,"wires":[["96df10f8.9206a"]]},{"id":"57640dfb.efef94","type":"function","z":"cbf4677a.2d39d8","name":"Analyze","func":"result = msg.result.images;\nif (result[0].classifiers.length !== 0)\n    msg.payload = result[0].classifiers[0].classes[0].score;\nelse\n    msg.payload = \"Not charlie found\";\nreturn msg;","outputs":1,"noerr":0,"x":577,"y":326,"wires":[["1a976d6e.51a823"]]},{"id":"1a976d6e.51a823","type":"debug","z":"cbf4677a.2d39d8","name":"","active":true,"console":"false","complete":"false","x":738,"y":325,"wires":[]},{"id":"9c165e72.ae3a1","type":"rpi-gpio in","z":"4b216b6b.d8a3a4","name":"","pin":"15","intype":"down","debounce":"1","read":false,"x":90,"y":274,"wires":[["9e34bb4e.b1e4c8"]]},{"id":"9e34bb4e.b1e4c8","type":"function","z":"4b216b6b.d8a3a4","name":"Adapt msg","func":"if (msg.payload == 1)\n    msg.payload = \"start\";\nelse\n    msg.payload = \"stop\";\nreturn msg;","outputs":1,"noerr":0,"x":145,"y":208,"wires":[["edbe1521.9dfc38"]]},{"id":"4b3ed079.277b5","type":"comment","z":"4b216b6b.d8a3a4","name":"Procesamiento de lenguaje natural","info":"","x":171,"y":32,"wires":[]},{"id":"cfde32a7.b0cd4","type":"exec","z":"732c07b2.882f78","command":"fswebcam -d /dev/video0 -r 1280x720 --no-banner -S 1 ./test.jpg","addpay":true,"append":"","useSpawn":false,"timer":"","name":"Take snapshot","x":266,"y":81,"wires":[["3db37609.5dc43a"],[],[]]},{"id":"af16b4f0.4706e8","type":"ui_button","z":"732c07b2.882f78","name":"","group":"cb0286d3.435e98","order":1,"width":"2","height":"1","label":"Take snap","color":"","bgcolor":"","icon":"","payload":"./test.jpg","payloadType":"str","topic":"","x":89,"y":81,"wires":[["cfde32a7.b0cd4"]]},{"id":"e5442a5d.9e2e08","type":"ui_template","z":"732c07b2.882f78","group":"cb0286d3.435e98","name":"","order":2,"width":"6","height":"4","format":"<img width=\"32\" height=\"32\" alt=\"image\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>","storeOutMessages":true,"fwdInMessages":true,"x":787,"y":66,"wires":[[]]},{"id":"3db37609.5dc43a","type":"file in","z":"732c07b2.882f78","name":"Local Image","filename":"./test.jpg","format":"","x":452,"y":67,"wires":[["fe2fe2c3.00508","175c048d.92babb"]]},{"id":"fe2fe2c3.00508","type":"base64","z":"732c07b2.882f78","name":"","x":622,"y":66,"wires":[["e5442a5d.9e2e08"]]},{"id":"f2d11ba4.fedce8","type":"comment","z":"732c07b2.882f78","name":"Take snapshots","info":"","x":107,"y":43.5,"wires":[]},{"id":"175c048d.92babb","type":"visual-recognition-v3","z":"732c07b2.882f78","name":"","apikey":"__PWRD__","image-feature":"detectFaces","lang":"en","x":262,"y":192,"wires":[["fa994789.52b5f8","898bc70c.d74e88"]]},{"id":"3af137.efd16eca","type":"debug","z":"732c07b2.882f78","name":"","active":true,"console":"false","complete":"payload","x":703,"y":188,"wires":[]},{"id":"fa994789.52b5f8","type":"function","z":"732c07b2.882f78","name":"Analyze","func":"result = msg.result.images;\nif (result[0].faces.length !== 0){\n    var person = result[0].faces[0];\n    msg.payload = \"Edad: [\"+person.age.min.toString()+\" - \"+person.age.max.toString() + \"]\";\n    msg.payload = msg.payload + \" Genero: \" + person.gender.gender;\n}else\n    msg.payload = \"No Faces\";\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":190,"wires":[["3af137.efd16eca","f5ce5200.7d789"]]},{"id":"15efe001.3daf6","type":"rpi-gpio out","z":"732c07b2.882f78","name":"LED 1","pin":"11","set":"","level":"0","out":"out","x":663,"y":292,"wires":[]},{"id":"898bc70c.d74e88","type":"function","z":"732c07b2.882f78","name":"Faces?","func":"result = msg.result.images;\nif (result[0].faces.length !== 0)\n    msg.payload = 1;\nelse\n    msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":459,"y":289,"wires":[["15efe001.3daf6"]]},{"id":"f5ce5200.7d789","type":"ui_text","z":"732c07b2.882f78","group":"cb0286d3.435e98","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":701,"y":237,"wires":[]},{"id":"739281b.6d7e38","type":"exec","z":"1debaa47.db4836","command":"fswebcam -d /dev/video0 -r 1280x720 --no-banner -S 1 ./test.jpg","addpay":true,"append":"","useSpawn":false,"timer":"","name":"Take snapshot","x":271,"y":304,"wires":[["eda77712.4131c8"],[],[]]},{"id":"eda77712.4131c8","type":"file in","z":"1debaa47.db4836","name":"Local Image","filename":"./test.jpg","format":"","x":457,"y":290,"wires":[["a3919881.50e708"]]},{"id":"a3919881.50e708","type":"base64","z":"1debaa47.db4836","name":"","x":627,"y":289,"wires":[["568a21b6.c82c3"]]},{"id":"80671fd9.43549","type":"comment","z":"1debaa47.db4836","name":"Manda foto a IBM IOT","info":"","x":137,"y":260,"wires":[]},{"id":"385383a3.38136c","type":"comment","z":"1debaa47.db4836","name":"Recibe mensaje","info":"","x":151,"y":60,"wires":[]},{"id":"a1bf883f.5779f8","type":"rpi-gpio out","z":"1debaa47.db4836","name":"","pin":"11","set":"","level":"0","out":"out","x":523,"y":131,"wires":[]},{"id":"187f641b.04501c","type":"comment","z":"8bb403a4.70b77","name":"Pagina Web Analisis imagenes","info":"","x":155,"y":80,"wires":[]},{"id":"8067d1a7.5da83","type":"comment","z":"cbf4677a.2d39d8","name":"Pagina Web Analisis perros Husky","info":"","x":154,"y":36,"wires":[]},{"id":"a1012b94.a74e58","type":"inject","z":"1debaa47.db4836","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93,"y":306,"wires":[["739281b.6d7e38"]]},{"id":"67729730.232548","type":"change","z":"1debaa47.db4836","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":334,"y":137,"wires":[["a1bf883f.5779f8"]]}]