Meetup.json
[{"id":"d96e2813.186d58","type":"tab","label":"Flow 1"},{"id":"8f6caa82.7ba3b8","type":"tab","label":"Flow 2"},{"id":"3c316fb3.391bb","type":"tab","label":"Flow 3"},{"id":"4d1b73cb.c0814c","type":"wiotp-credentials","z":"","name":"CredNode1","org":"a590f0","serverName":"","devType":"Raspbi","devId":"Node1","keepalive":"60","cleansession":true},{"id":"84b56ead.64186","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"77ddb58b.c34fbc","type":"inject","z":"d96e2813.186d58","name":"Send msg","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":99,"wires":[["39fee145.dcb75e"]]},{"id":"a7086103.d27ec","type":"wiotp out","z":"d96e2813.186d58","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"4d1b73cb.c0814c","deviceType":"","deviceId":"","event":"event","format":"json","qos":"0","name":"Send to Cloud","x":644,"y":97,"wires":[]},{"id":"39fee145.dcb75e","type":"function","z":"d96e2813.186d58","name":"Data to send","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":404,"y":98,"wires":[["a7086103.d27ec"]]},{"id":"75d3a3fc.4019bc","type":"wiotp in","z":"d96e2813.186d58","authType":"d","deviceKey":"4d1b73cb.c0814c","deviceType":"","deviceId":"","command":"toggle","commandType":"g","qos":0,"name":"In Msg","x":108,"y":245,"wires":[["abf052e9.c7d8d"]]},{"id":"abf052e9.c7d8d","type":"debug","z":"d96e2813.186d58","name":"","active":true,"console":"false","complete":"payload","x":402,"y":246,"wires":[]},{"id":"3f0d1394.dd68fc","type":"visual-recognition-v3","z":"d96e2813.186d58","name":"Vision Watson","apikey":"__PWRD__","image-feature":"recognizeText","lang":"es","x":363,"y":347,"wires":[["1dcdd06e.e2f83"]]},{"id":"5b0e7843.3f9498","type":"change","z":"8f6caa82.7ba3b8","name":"Extract image URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":249,"y":272,"wires":[["68e91e11.cec1e"]]},{"id":"6c85774a.fcf1f8","type":"switch","z":"8f6caa82.7ba3b8","name":"Check image url","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":279,"y":112,"wires":[["738ffeb7.f418b"],["5b0e7843.3f9498"]]},{"id":"85fbfd10.c476d","type":"http in","z":"8f6caa82.7ba3b8","name":"","url":"/people","method":"get","swaggerDoc":"","x":89,"y":112,"wires":[["6c85774a.fcf1f8"]]},{"id":"738ffeb7.f418b","type":"template","z":"8f6caa82.7ba3b8","name":"Prompt images","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Welcome to a Watson Visual Recognition sample Face Detection app</h1>\n<H2>Recognize anyone?</H2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"http://sysrun.haifa.il.ibm.com/ibm/history/exhibits/chairmen/images/watsonsr.jpg\" height='200'/>\n    <img src=\"http://www.awaken.com/wp-content/uploads/2015/05/forbes.jpg\" height='200'/>\n    <img src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/LinuxCon_Europe_Linus_Torvalds_03.jpg/220px-LinuxCon_Europe_Linus_Torvalds_03.jpg\" height='200'/>\n    <img src=\"http://smashinghub.com/wp-content/uploads/2012/01/nb5.jpg\" height='200'/>\n        <br/>Right-click one of the above images and select Copy image location and paste the URL in the box below.<br>Do an image search for faces, try multiple faces. After you click on an image, to the right it usually says \"View image\" click that to get the URL.<br/>\n    <br>Image URL: <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>","x":539,"y":105,"wires":[["8f5e0e1e.88e96"]]},{"id":"17a2a58f.69c9ca","type":"template","z":"8f6caa82.7ba3b8","name":"Report faces via HTML template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Visual Recognition v3 Image Analysis</h1>\n    <p>Analyzed image: {{result.images.0.resolved_url}}<br/><img id=\"image\" src=\"{{result.images.0.resolved_url}}\" height=\"200\"/></p>\n    {{^result}}\n        <P>No Face detected</P>\n    {{/result}}\n    <p>Images Processed: {{result.images_processed}}</p>\n    <table border='1'>\n        <thead><tr><th>Age Range</th><th>Confidence</th><th>Gender</th><th>Confidence</th><th>Name</th></tr></thead>\n        {{#result.images.0.faces}}<tr>\n            <td><b>{{age.min}} - {{age.max}}</b></td><td><i>{{age.score}}</i></td>\n            <td>{{gender.gender}}</td><td>{{gender.score}}</td>\n            <td>{{identity.name}} ({{identity.score}})</td>\n        </tr>{{/result.images.0.faces}}\n    </table>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <br><input type=\"submit\" value=\"Try again or go back to the home page\"/>\n    </form>","x":589,"y":212,"wires":[["8f5e0e1e.88e96"]]},{"id":"8f5e0e1e.88e96","type":"http response","z":"8f6caa82.7ba3b8","name":"","x":889,"y":112,"wires":[]},{"id":"68e91e11.cec1e","type":"visual-recognition-v3","z":"8f6caa82.7ba3b8","name":"","apikey":"__PWRD__","image-feature":"detectFaces","x":259,"y":412,"wires":[["17a2a58f.69c9ca","337da15c.3b7aae","a220a47c.2569e8","e6242387.05005"]]},{"id":"337da15c.3b7aae","type":"debug","z":"8f6caa82.7ba3b8","name":"Print msg.result.images","active":true,"console":"false","complete":"result.images","x":569,"y":512,"wires":[]},{"id":"a220a47c.2569e8","type":"template","z":"8f6caa82.7ba3b8","name":"Print result via a template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"// Template functions can access the json array via this .0. notation.\n// See the Watson Visual Recognition v3 API Documentation at\n// https://watson-api-explorer.mybluemix.net/apis/visual-recognition-v3#!/visual-recognition/get_v3_detect_faces\n\nFirst face in result is a {{result.images.0.faces.0.gender.gender}} !","x":569,"y":312,"wires":[["cd5600c3.94f88"]]},{"id":"cd5600c3.94f88","type":"debug","z":"8f6caa82.7ba3b8","name":"","active":true,"console":"false","complete":"payload","x":909,"y":312,"wires":[]},{"id":"e6242387.05005","type":"function","z":"8f6caa82.7ba3b8","name":"Is this a Celebrity","func":"// A function to determine if this image contains a celebrity.\n// Functions can access the msg.result via array indexes\n// Watson Visual Recognition v3 API Documentation is post here:\n// https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/visual-recognition/api/v3/?node#detect_faces\nvar i=0;\nvar Celebrity=0;\nvar CelebrityName=\"No one famous detected\";\n\n// There might be multiple faces in this image.\n// Loop through the faces and determine if Watson has\n// detected the identity of at least one celebrity.\nwhile ( msg.result.images[0].faces[i] ) {\n    if (msg.result.images[0].faces[i].identity != null) {\n        Celebrity=1;\n        CelebrityName=msg.result.images[0].faces[i].identity.name;\n    }\n    i++;\n}\n\nmsg.payload = CelebrityName;\n// if a Celebrity was found, send the Name to output 1\n// else send the default \"No one famous detected\" to output 2\nif (Celebrity == 1) {\n        return [ msg, null ];\n} else {\n    return [ null, msg ];\n}\n","outputs":"2","noerr":0,"x":549,"y":412,"wires":[["e49107cd.6e1998"],["e19abb93.a03e38"]]},{"id":"e19abb93.a03e38","type":"debug","z":"8f6caa82.7ba3b8","name":"","active":true,"console":"false","complete":"payload","x":909,"y":432,"wires":[]},{"id":"e49107cd.6e1998","type":"template","z":"8f6caa82.7ba3b8","name":"Paparazzi","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This image contains a celebrity: {{payload}} !","x":749,"y":372,"wires":[["e19abb93.a03e38"]]},{"id":"3c76d680.aa97da","type":"comment","z":"8f6caa82.7ba3b8","name":"Step #1 - Create a Visual Recognition Service","info":"1. Log into your Bluemix account\n2. Navigate to the Bluemix Catalog\n3. Scroll to the Watson Services section\n4. Find and click on the Visual Recognition service\n5. Create an unbounded Visual Recognition instance\n6. Open the new service and navigate to the Service Credentials\n7. Copy the api_key to the clipboard\n8. Open the above \"visual recognition v3\" node and paste your new API Key","x":209,"y":472,"wires":[]},{"id":"7ba87ecf.195c6","type":"inject","z":"d96e2813.186d58","name":"","topic":"","payload":"https://images-na.ssl-images-amazon.com/images/I/71-2N7VgxoL._SX355_.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":152,"y":346,"wires":[["3f0d1394.dd68fc"]]},{"id":"1dcdd06e.e2f83","type":"debug","z":"d96e2813.186d58","name":"","active":true,"console":"false","complete":"true","x":565,"y":346,"wires":[]},{"id":"ed7dbfac.8cd58","type":"http in","z":"3c316fb3.391bb","name":"","url":"/reco","method":"get","swaggerDoc":"","x":65,"y":144,"wires":[["7d0f13f2.72f6ec"]]},{"id":"7532cafa.330184","type":"http response","z":"3c316fb3.391bb","name":"HTTP Response","x":733,"y":209,"wires":[]},{"id":"7d0f13f2.72f6ec","type":"switch","z":"3c316fb3.391bb","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":157,"y":217,"wires":[["fc7272df.bdf35"],["46061d4.2d4fde4"]]},{"id":"77085921.ff8c18","type":"template","z":"3c316fb3.391bb","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n<h2>Select an image URL</h2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"https://si.wsj.net/public/resources/images/BN-MS389_dog_pr_P_20160222135229.jpg\" height='100'/>\n    <img src=\"http://sysrun.haifa.il.ibm.com/ibm/history/exhibits/chairmen/images/watsonsr.jpg\" height='100'/>\n    {{#images}}\n    <img src={{url}} height=\"100\"/>\n    {{/images}}\n    <br/>Copy above image location URL or enter any image URL:<br/>\n    <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>\n</body>\n</html>","x":571,"y":116,"wires":[["7532cafa.330184"]]},{"id":"781a76fa.89cda8","type":"template","z":"3c316fb3.391bb","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Node-RED Watson Visual Recognition output</h1>\n<p>Analyzed image: {{payload}}<br/><img src=\"{{payload}}\" height='100'/></p>\n<table border='1'>\n    <thead><tr><th>Name</th><th>Score</th></tr></thead>\n{{#result.images.0.classifiers.0.classes}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/result.images.0.classifiers.0.classes}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n</body>\n</html>","x":574,"y":251,"wires":[["7532cafa.330184"]]},{"id":"46061d4.2d4fde4","type":"change","z":"3c316fb3.391bb","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":185,"y":300,"wires":[["a776dff6.6d963"]]},{"id":"779c3fd7.ad35c","type":"comment","z":"3c316fb3.391bb","name":"!!Make sure you bind Visual Recognition Service to Node-RED App!!","info":"When running in BlueMix, the credentials for the service will be filled-in from BMix credentials management.\nFor this to work, the Visual Recognition Service has to be bound to the Node-RED application.\n","x":452,"y":373,"wires":[]},{"id":"3a8b8e54.c7a122","type":"debug","z":"3c316fb3.391bb","name":"","active":true,"console":"false","complete":"true","x":680,"y":303,"wires":[]},{"id":"a776dff6.6d963","type":"visual-recognition-v3","z":"3c316fb3.391bb","name":"","apikey":"__PWRD__","image-feature":"classifyImage","lang":"en","x":405,"y":293,"wires":[["3a8b8e54.c7a122","781a76fa.89cda8"]]},{"id":"fc7272df.bdf35","type":"function","z":"3c316fb3.391bb","name":"","func":"msg.images = [{\"url\": \"https://raw.githubusercontent.com/charlielito/nodered_watson/master/img/panda.png\"},\n                {\"url\": \"https://raw.githubusercontent.com/charlielito/nodered_watson/master/img/circuit.jpg\"}];\nvar basedir = \"https://raw.githubusercontent.com/charlielito/nodered_watson/master/img/\";\nvar N = 6; //how many images in repository\nvar images = []\nfor (i = 1; i <= N; i++) { \n    images.push(\n        {\n        \"url\": basedir.concat(i.toString().concat(\".jpg\"))\n        }\n    );\n}\nmsg.images = images;\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":114,"wires":[["77085921.ff8c18"]]}]