tutorial.json
[{"id":"bc6ecb34.f617d8","type":"tab","label":"Hello World"},{"id":"729e2d40.081e24","type":"tab","label":"Inputs, GUI and more"},{"id":"ecb829f3.837b08","type":"ui_group","z":"","name":"Main","tab":"8c614c27.f3aa8","disp":true,"width":"6"},{"id":"8c614c27.f3aa8","type":"ui_tab","z":"","name":"Dev","icon":"dashboard","order":1},{"id":"a2805296.00246","type":"wiotp-credentials","z":"","name":"CredNode1","org":"a590f0","serverName":"","devType":"Raspbi","devId":"Node1","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"a79e96ba.8d0198","type":"inject","z":"bc6ecb34.f617d8","name":"","topic":"","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":97,"wires":[["a01304f6.1e28c8"]]},{"id":"a01304f6.1e28c8","type":"debug","z":"bc6ecb34.f617d8","name":"","active":true,"console":"false","complete":"false","x":349,"y":99,"wires":[]},{"id":"23ee981e.b06c58","type":"comment","z":"bc6ecb34.f617d8","name":"Classic HelloWorld","info":"","x":172,"y":54,"wires":[]},{"id":"81aeda1a.a097b8","type":"comment","z":"bc6ecb34.f617d8","name":"Hardware HelloWorld","info":"","x":180,"y":200,"wires":[]},{"id":"e278db86.a898b8","type":"inject","z":"bc6ecb34.f617d8","name":"Prender","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":165,"y":247,"wires":[["b5e87298.a86f4"]]},{"id":"5fa98f4.041c47","type":"inject","z":"bc6ecb34.f617d8","name":"Apagar","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":164,"y":290,"wires":[["b5e87298.a86f4"]]},{"id":"b5e87298.a86f4","type":"rpi-gpio out","z":"bc6ecb34.f617d8","name":"","pin":"11","set":"","level":"0","out":"out","x":549,"y":262,"wires":[]},{"id":"cf674d7d.6bc86","type":"inject","z":"bc6ecb34.f617d8","name":"Blinker","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":143,"y":378,"wires":[[]]},{"id":"1f04ed89.3549c2","type":"trigger","z":"bc6ecb34.f617d8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","name":"","x":337,"y":380,"wires":[["b5e87298.a86f4"]]},{"id":"d3215f3c.34b09","type":"comment","z":"bc6ecb34.f617d8","name":"Web HelloWorld","info":"","x":136,"y":460,"wires":[]},{"id":"8cd45d05.ae29e","type":"http in","z":"bc6ecb34.f617d8","name":"","url":"/hello","method":"get","swaggerDoc":"","x":104,"y":516,"wires":[["70b41c84.764744"]]},{"id":"70b41c84.764744","type":"template","z":"bc6ecb34.f617d8","name":"html template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello World","x":298,"y":517,"wires":[["bd0d61d9.62b9f"]]},{"id":"bd0d61d9.62b9f","type":"http response","z":"bc6ecb34.f617d8","name":"","x":477,"y":518,"wires":[]},{"id":"5d50df83.a4e34","type":"debug","z":"729e2d40.081e24","name":"","active":true,"console":"false","complete":"false","x":726,"y":174,"wires":[]},{"id":"de7bfaa0.9f4798","type":"function","z":"729e2d40.081e24","name":"to Fahrenheit","func":"msg.payload = msg.payload*1.8 + 32;\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":176,"wires":[["5d50df83.a4e34"]]},{"id":"a60a2d51.80e39","type":"ds18b20","z":"729e2d40.081e24","name":"Sensor Temp","sensorid":"00-400000000000","timer":"0.01","x":133,"y":74,"wires":[["3d461fc2.a1c19","de7bfaa0.9f4798","da5a99f4.a29c18"]]},{"id":"3d461fc2.a1c19","type":"debug","z":"729e2d40.081e24","name":"","active":false,"console":"false","complete":"false","x":375,"y":75,"wires":[]},{"id":"da5a99f4.a29c18","type":"switch","z":"729e2d40.081e24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"30","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":235,"y":272,"wires":[["e5738687.d5b0d8"],["76adbbb4.1587d4"]]},{"id":"e5738687.d5b0d8","type":"change","z":"729e2d40.081e24","name":"set to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":426,"y":262,"wires":[["c3f39f1.a23c86"]]},{"id":"76adbbb4.1587d4","type":"change","z":"729e2d40.081e24","name":"set to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":425,"y":300,"wires":[["c3f39f1.a23c86"]]},{"id":"c3f39f1.a23c86","type":"rpi-gpio out","z":"729e2d40.081e24","name":"","pin":"11","set":"","level":"0","out":"out","x":710,"y":399,"wires":[]},{"id":"951be8e0.2794d8","type":"ui_button","z":"729e2d40.081e24","name":"","group":"ecb829f3.837b08","order":0,"width":0,"height":0,"label":"Prender LED","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":149,"y":388,"wires":[["c3f39f1.a23c86"]]},{"id":"7b95fad.c3e3704","type":"ui_button","z":"729e2d40.081e24","name":"","group":"ecb829f3.837b08","order":0,"width":0,"height":0,"label":"Apagar LED","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":150,"y":429,"wires":[["c3f39f1.a23c86"]]},{"id":"a593043a.33f2a8","type":"ui_chart","z":"729e2d40.081e24","name":"","group":"ecb829f3.837b08","order":0,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"x":307,"y":535,"wires":[[],[]]},{"id":"78fdcde.fa89e34","type":"rpi-gpio in","z":"729e2d40.081e24","name":"","pin":"15","intype":"down","debounce":"1","read":false,"x":131,"y":632,"wires":[["422ed7f6.f870d8"]]},{"id":"422ed7f6.f870d8","type":"debug","z":"729e2d40.081e24","name":"","active":true,"console":"false","complete":"false","x":327,"y":632,"wires":[]},{"id":"ca1d76b5.9b8228","type":"comment","z":"729e2d40.081e24","name":"Botones GUI","info":"","x":155,"y":352,"wires":[]},{"id":"bdabae7.1755e5","type":"comment","z":"729e2d40.081e24","name":"Boton de entrada físico","info":"","x":158,"y":594,"wires":[]},{"id":"fffcaa2b.99da18","type":"exec","z":"729e2d40.081e24","command":"ls -l /home/","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":340,"y":739.5,"wires":[["f0f5b57.c1d2648"],[],[]]},{"id":"1efe1e3e.82ef52","type":"inject","z":"729e2d40.081e24","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":136,"y":738,"wires":[["fffcaa2b.99da18"]]},{"id":"8faa5099.10984","type":"comment","z":"729e2d40.081e24","name":"Input Sensor 1wire","info":"","x":149,"y":29,"wires":[]},{"id":"d623b5c8.d23e08","type":"comment","z":"729e2d40.081e24","name":"Comando de Consola","info":"","x":326,"y":695,"wires":[]},{"id":"f0f5b57.c1d2648","type":"debug","z":"729e2d40.081e24","name":"","active":true,"console":"false","complete":"false","x":540,"y":726,"wires":[]},{"id":"63fb131e.f11bdc","type":"ds18b20","z":"729e2d40.081e24","name":"Sensor Temp","sensorid":"00-c00000000000","timer":"0.01","x":140,"y":534,"wires":[["a593043a.33f2a8"]]},{"id":"850f5b02.a8c768","type":"comment","z":"729e2d40.081e24","name":"Caja para graficar temperatura en tiempo","info":"","x":278,"y":494,"wires":[]},{"id":"6e96dc5d.7cf894","type":"comment","z":"729e2d40.081e24","name":"Funcion para convertir unidades","info":"","x":552,"y":134,"wires":[]},{"id":"dc28d943.2d4348","type":"comment","z":"729e2d40.081e24","name":"Condicional","info":"","x":249,"y":223,"wires":[]},{"id":"52da7f3e.d0845","type":"comment","z":"729e2d40.081e24","name":"Cambiar mensaje","info":"","x":424,"y":227,"wires":[]}]